# Data Collection
The goal of this notebook is to collect all the necessary data required to run a basic NFL win predictor model. The data will be pulled using the Sportsipy API which collects data from sports-reference.com.

Relevant Sportsipy links:
- https://sportsreference.readthedocs.io/en/stable/
- https://github.com/roclark/sportsipy/tree/ea0043747015209550abeee15df75914a58fe40b

Note: Some cells have been converted to Raw NBConvert as they were only needed once to extract the data. Afterwards there was no need to run them again however they were not deleted to preserve a trace of my work.

In [22]:
#Import necessary libraries
from sportsipy.nfl.boxscore import Boxscores
from sportsipy.nfl.schedule import Schedule, Game
from sportsipy.nfl.teams import Teams, Team

import pandas as pd
import numpy as np

In [23]:
#Print the Boxscores from week 1 of the 2022 season
boxscores_2022 = Boxscores(1,2022).games
boxscores_2022

{'1-2022': [{'boxscore': '202209080ram',
   'away_name': 'Buffalo Bills',
   'away_abbr': 'buf',
   'away_score': 31,
   'home_name': 'Los Angeles Rams',
   'home_abbr': 'ram',
   'home_score': 10,
   'winning_name': 'Buffalo Bills',
   'winning_abbr': 'buf',
   'losing_name': 'Los Angeles Rams',
   'losing_abbr': 'ram'},
  {'boxscore': '202209110atl',
   'away_name': 'New Orleans Saints',
   'away_abbr': 'nor',
   'away_score': 27,
   'home_name': 'Atlanta Falcons',
   'home_abbr': 'atl',
   'home_score': 26,
   'winning_name': 'New Orleans Saints',
   'winning_abbr': 'nor',
   'losing_name': 'Atlanta Falcons',
   'losing_abbr': 'atl'},
  {'boxscore': '202209110car',
   'away_name': 'Cleveland Browns',
   'away_abbr': 'cle',
   'away_score': 26,
   'home_name': 'Carolina Panthers',
   'home_abbr': 'car',
   'home_score': 24,
   'winning_name': 'Cleveland Browns',
   'winning_abbr': 'cle',
   'losing_name': 'Carolina Panthers',
   'losing_abbr': 'car'},
  {'boxscore': '202209110chi',
   'away_name': 'San Francisco 49ers',
   'away_abbr': 'sfo',
   'away_score': 10,
   'home_name': 'Chicago Bears',
   'home_abbr': 'chi',
   'home_score': 19,
   'winning_name': 'Chicago Bears',
   'winning_abbr': 'chi',
   'losing_name': 'San Francisco 49ers',
   'losing_abbr': 'sfo'},
  {'boxscore': '202209110cin',
   'away_name': 'Pittsburgh Steelers',
   'away_abbr': 'pit',
   'away_score': 23,
   'home_name': 'Cincinnati Bengals',
   'home_abbr': 'cin',
   'home_score': 20,
   'winning_name': 'Pittsburgh Steelers',
   'winning_abbr': 'pit',
   'losing_name': 'Cincinnati Bengals',
   'losing_abbr': 'cin'},
  {'boxscore': '202209110det',
   'away_name': 'Philadelphia Eagles',
   'away_abbr': 'phi',
   'away_score': 38,
   'home_name': 'Detroit Lions',
   'home_abbr': 'det',
   'home_score': 35,
   'winning_name': 'Philadelphia Eagles',
   'winning_abbr': 'phi',
   'losing_name': 'Detroit Lions',
   'losing_abbr': 'det'},
  {'boxscore': '202209110htx',
   'away_name': 'Indianapolis Colts',
   'away_abbr': 'clt',
   'away_score': 20,
   'home_name': 'Houston Texans',
   'home_abbr': 'htx',
   'home_score': 20,
   'winning_name': None,
   'winning_abbr': None,
   'losing_name': None,
   'losing_abbr': None},
  {'boxscore': '202209110mia',
   'away_name': 'New England Patriots',
   'away_abbr': 'nwe',
   'away_score': 7,
   'home_name': 'Miami Dolphins',
   'home_abbr': 'mia',
   'home_score': 20,
   'winning_name': 'Miami Dolphins',
   'winning_abbr': 'mia',
   'losing_name': 'New England Patriots',
   'losing_abbr': 'nwe'},
  {'boxscore': '202209110nyj',
   'away_name': 'Baltimore Ravens',
   'away_abbr': 'rav',
   'away_score': 24,
   'home_name': 'New York Jets',
   'home_abbr': 'nyj',
   'home_score': 9,
   'winning_name': 'Baltimore Ravens',
   'winning_abbr': 'rav',
   'losing_name': 'New York Jets',
   'losing_abbr': 'nyj'},
  {'boxscore': '202209110was',
   'away_name': 'Jacksonville Jaguars',
   'away_abbr': 'jax',
   'away_score': 22,
   'home_name': 'Washington Commanders',
   'home_abbr': 'was',
   'home_score': 28,
   'winning_name': 'Washington Commanders',
   'winning_abbr': 'was',
   'losing_name': 'Jacksonville Jaguars',
   'losing_abbr': 'jax'},
  {'boxscore': '202209110crd',
   'away_name': 'Kansas City Chiefs',
   'away_abbr': 'kan',
   'away_score': 44,
   'home_name': 'Arizona Cardinals',
   'home_abbr': 'crd',
   'home_score': 21,
   'winning_name': 'Kansas City Chiefs',
   'winning_abbr': 'kan',
   'losing_name': 'Arizona Cardinals',
   'losing_abbr': 'crd'},
  {'boxscore': '202209110min',
   'away_name': 'Green Bay Packers',
   'away_abbr': 'gnb',
   'away_score': 7,
   'home_name': 'Minnesota Vikings',
   'home_abbr': 'min',
   'home_score': 23,
   'winning_name': 'Minnesota Vikings',
   'winning_abbr': 'min',
   'losing_name': 'Green Bay Packers',
   'losing_abbr': 'gnb'},
  {'boxscore': '202209110oti',
   'away_name': 'New York Giants',
   'away_abbr': 'nyg',
   'away_score': 21,
   'home_name': 'Tennessee Titans',
   'home_abbr': 'oti',
   'home_score': 20,
   'winning_name': 'New York Giants',
   'winning_abbr': 'nyg',
   'losing_name': 'Tennessee Titans',
   'losing_abbr': 'oti'},
  {'boxscore': '202209110sdg',
   'away_name': 'Las Vegas Raiders',
   'away_abbr': 'rai',
   'away_score': 19,
   'home_name': 'Los Angeles Chargers',
   'home_abbr': 'sdg',
   'home_score': 24,
   'winning_name': 'Los Angeles Chargers',
   'winning_abbr': 'sdg',
   'losing_name': 'Las Vegas Raiders',
   'losing_abbr': 'rai'},
  {'boxscore': '202209110dal',
   'away_name': 'Tampa Bay Buccaneers',
   'away_abbr': 'tam',
   'away_score': 19,
   'home_name': 'Dallas Cowboys',
   'home_abbr': 'dal',
   'home_score': 3,
   'winning_name': 'Tampa Bay Buccaneers',
   'winning_abbr': 'tam',
   'losing_name': 'Dallas Cowboys',
   'losing_abbr': 'dal'},
  {'boxscore': '202209120sea',
   'away_name': 'Denver Broncos',
   'away_abbr': 'den',
   'away_score': 16,
   'home_name': 'Seattle Seahawks',
   'home_abbr': 'sea',
   'home_score': 17,
   'winning_name': 'Seattle Seahawks',
   'winning_abbr': 'sea',
   'losing_name': 'Denver Broncos',
   'losing_abbr': 'den'}]}

#Extracting the team names and abbreviations so that they can be used to import the schedule of each team

team_names = [i['home_name'] for i in boxscores_2022['1-2022']] + [i['away_name'] for i in boxscores_2022['1-2022']]
print(team_names)

team_abbr = [i['home_abbr'] for i in boxscores_2022['1-2022']] + [i['away_abbr'] for i in boxscores_2022['1-2022']]
print(team_abbr)

#Import the game data for each year in 2022

import time
all_schedules = []

for i in team_abbr:
    time.sleep(4)
    team_schedule = Schedule(i, year=2022)
    team_df = team_schedule.dataframe
    team_df['team_abbr'] = i
    all_schedules.append(team_df)
    
full_schedule = pd.concat(all_schedules)
full_schedule = full_schedule.reset_index(drop=True)

print(full_schedule)
combined_schedule = full_schedule.copy()

#saving the data to a .csv
combined_schedule.to_csv('game_data.csv', index=False)

In [24]:
#Importing the data
combined_schedule = pd.read_csv('game_data.csv')

In [25]:
combined_schedule.columns

Index(['boxscore_index', 'date', 'datetime', 'day', 'extra_points_attempted',
       'extra_points_made', 'field_goals_attempted', 'field_goals_made',
       'fourth_down_attempts', 'fourth_down_conversions', 'interceptions',
       'location', 'opponent_abbr', 'opponent_name', 'overtime',
       'pass_attempts', 'pass_completion_rate', 'pass_completions',
       'pass_touchdowns', 'pass_yards', 'pass_yards_per_attempt',
       'points_allowed', 'points_scored', 'punt_yards', 'punts',
       'quarterback_rating', 'result', 'rush_attempts', 'rush_touchdowns',
       'rush_yards', 'rush_yards_per_attempt', 'third_down_attempts',
       'third_down_conversions', 'time_of_possession', 'times_sacked', 'type',
       'week', 'yards_lost_from_sacks', 'team_abbr'],
      dtype='object')

In [26]:
combined_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   boxscore_index           568 non-null    object
 1   date                     568 non-null    object
 2   datetime                 568 non-null    object
 3   day                      568 non-null    object
 4   extra_points_attempted   568 non-null    int64
 5   extra_points_made        568 non-null    int64
 6   field_goals_attempted    568 non-null    int64
 7   field_goals_made         568 non-null    int64
 8   fourth_down_attempts     568 non-null    int64
 9   fourth_down_conversions  568 non-null    int64
 10  interceptions            568 non-null    int64
 11  location                 568 non-null    object
 12  opponent_abbr            568 non-null    object
 13  opponent_name            568 non-null    object
 14  overtime                 568 non-null    bool
 15  pass_attempts            568 non-null    int64
 16  pass_completion_rate     568 non-null    float64
 17  pass_completions         568 non-null    int64
 18  pass_touchdowns          568 non-null    int64
 19  pass_yards               568 non-null    int64
 20  pass_yards_per_attempt   568 non-null    float64
 21  points_allowed           568 non-null    int64
 22  points_scored            568 non-null    int64
 23  punt_yards               568 non-null    int64
 24  punts                    568 non-null    int64
 25  quarterback_rating       568 non-null    float64
 26  result                   568 non-null    object
 27  rush_attempts            568 non-null    int64
 28  rush_touchdowns          568 non-null    int64
 29  rush_yards               568 non-null    int64
 30  rush_yards_per_attempt   568 non-null    float64
 31  third_down_attempts      568 non-null    int64
 32  third_down_conversions   568 non-null    int64
 33  time_of_possession       568 non-null    object
 34  times_sacked             568 non-null    int64
 35  type                     568 non-null    object
 36  week                     568 non-null    int64
 37  yards_lost_from_sacks    568 non-null    int64
 38  team_abbr                568 non-null    object
dtypes: bool(1), float64(4), int64(23), object(11)
memory usage: 169.3+ KB

In [27]:
#Dropping irrelevant columns
combined_schedule = combined_schedule.drop(['date','overtime','type','day','opponent_name','boxscore_index', 'location', 'opponent_abbr', 'datetime'], axis =1)

In [28]:
combined_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   extra_points_attempted   568 non-null    int64
 1   extra_points_made        568 non-null    int64
 2   field_goals_attempted    568 non-null    int64
 3   field_goals_made         568 non-null    int64
 4   fourth_down_attempts     568 non-null    int64
 5   fourth_down_conversions  568 non-null    int64
 6   interceptions            568 non-null    int64
 7   pass_attempts            568 non-null    int64
 8   pass_completion_rate     568 non-null    float64
 9   pass_completions         568 non-null    int64
 10  pass_touchdowns          568 non-null    int64
 11  pass_yards               568 non-null    int64
 12  pass_yards_per_attempt   568 non-null    float64
 13  points_allowed           568 non-null    int64
 14  points_scored            568 non-null    int64
 15  punt_yards               568 non-null    int64
 16  punts                    568 non-null    int64
 17  quarterback_rating       568 non-null    float64
 18  result                   568 non-null    object
 19  rush_attempts            568 non-null    int64
 20  rush_touchdowns          568 non-null    int64
 21  rush_yards               568 non-null    int64
 22  rush_yards_per_attempt   568 non-null    float64
 23  third_down_attempts      568 non-null    int64
 24  third_down_conversions   568 non-null    int64
 25  time_of_possession       568 non-null    object
 26  times_sacked             568 non-null    int64
 27  week                     568 non-null    int64
 28  yards_lost_from_sacks    568 non-null    int64
 29  team_abbr                568 non-null    object
dtypes: float64(4), int64(23), object(3)
memory usage: 133.3+ KB

In [29]:
combined_schedule['time_of_possession']

0      28:46
1      30:24
2      26:04
3      34:34
4      30:30
       ...
563    29:47
564    32:58
565    23:25
566    33:06
567    31:03
Name: time_of_possession, Length: 568, dtype: object

In [30]:
#Converting time_of_possession to an integer (seconds) 

from datetime import datetime
def convert_to_seconds(time_str):
    time_obj = datetime.strptime(time_str, '%M:%S')
    total_seconds = time_obj.minute*60 + time_obj.second
    return total_seconds

combined_schedule['time_of_possession'] = combined_schedule['time_of_possession'].apply(convert_to_seconds)

print(combined_schedule['time_of_possession'])

0      1726
1      1824
2      1564
3      2074
4      1830
       ...
563    1787
564    1978
565    1405
566    1986
567    1863
Name: time_of_possession, Length: 568, dtype: int64

In [31]:
combined_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   extra_points_attempted   568 non-null    int64
 1   extra_points_made        568 non-null    int64
 2   field_goals_attempted    568 non-null    int64
 3   field_goals_made         568 non-null    int64
 4   fourth_down_attempts     568 non-null    int64
 5   fourth_down_conversions  568 non-null    int64
 6   interceptions            568 non-null    int64
 7   pass_attempts            568 non-null    int64
 8   pass_completion_rate     568 non-null    float64
 9   pass_completions         568 non-null    int64
 10  pass_touchdowns          568 non-null    int64
 11  pass_yards               568 non-null    int64
 12  pass_yards_per_attempt   568 non-null    float64
 13  points_allowed           568 non-null    int64
 14  points_scored            568 non-null    int64
 15  punt_yards               568 non-null    int64
 16  punts                    568 non-null    int64
 17  quarterback_rating       568 non-null    float64
 18  result                   568 non-null    object
 19  rush_attempts            568 non-null    int64
 20  rush_touchdowns          568 non-null    int64
 21  rush_yards               568 non-null    int64
 22  rush_yards_per_attempt   568 non-null    float64
 23  third_down_attempts      568 non-null    int64
 24  third_down_conversions   568 non-null    int64
 25  time_of_possession       568 non-null    int64
 26  times_sacked             568 non-null    int64
 27  week                     568 non-null    int64
 28  yards_lost_from_sacks    568 non-null    int64
 29  team_abbr                568 non-null    object
dtypes: float64(4), int64(24), object(2)
memory usage: 133.3+ KB

In [32]:
# Feature reduction by combining features into ratios
combined_schedule['extra_points_ratio'] = combined_schedule['extra_points_made'] / combined_schedule['extra_points_attempted']

combined_schedule['field_goal_ratio'] = combined_schedule['field_goals_made'] / combined_schedule['field_goals_attempted']

combined_schedule['fourth_down_ratio'] = combined_schedule['fourth_down_conversions'] / combined_schedule['fourth_down_attempts']

combined_schedule = combined_schedule.drop(['extra_points_attempted', 'extra_points_made','field_goals_made', 'field_goals_attempted', 'fourth_down_conversions', 'fourth_down_attempts'], axis=1)

combined_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   interceptions           568 non-null    int64
 1   pass_attempts           568 non-null    int64
 2   pass_completion_rate    568 non-null    float64
 3   pass_completions        568 non-null    int64
 4   pass_touchdowns         568 non-null    int64
 5   pass_yards              568 non-null    int64
 6   pass_yards_per_attempt  568 non-null    float64
 7   points_allowed          568 non-null    int64
 8   points_scored           568 non-null    int64
 9   punt_yards              568 non-null    int64
 10  punts                   568 non-null    int64
 11  quarterback_rating      568 non-null    float64
 12  result                  568 non-null    object
 13  rush_attempts           568 non-null    int64
 14  rush_touchdowns         568 non-null    int64
 15  rush_yards              568 non-null    int64
 16  rush_yards_per_attempt  568 non-null    float64
 17  third_down_attempts     568 non-null    int64
 18  third_down_conversions  568 non-null    int64
 19  time_of_possession      568 non-null    int64
 20  times_sacked            568 non-null    int64
 21  week                    568 non-null    int64
 22  yards_lost_from_sacks   568 non-null    int64
 23  team_abbr               568 non-null    object
 24  extra_points_ratio      522 non-null    float64
 25  field_goal_ratio        505 non-null    float64
 26  fourth_down_ratio       390 non-null    float64
dtypes: float64(7), int64(18), object(2)
memory usage: 119.9+ KB

In [33]:
#Dropping more columns that are summarized by others and would certainly be highly correlated

combined_schedule = combined_schedule.drop(['pass_attempts','pass_completions','pass_yards','rush_attempts', 'rush_yards'], axis=1)
combined_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   interceptions           568 non-null    int64
 1   pass_completion_rate    568 non-null    float64
 2   pass_touchdowns         568 non-null    int64
 3   pass_yards_per_attempt  568 non-null    float64
 4   points_allowed          568 non-null    int64
 5   points_scored           568 non-null    int64
 6   punt_yards              568 non-null    int64
 7   punts                   568 non-null    int64
 8   quarterback_rating      568 non-null    float64
 9   result                  568 non-null    object
 10  rush_touchdowns         568 non-null    int64
 11  rush_yards_per_attempt  568 non-null    float64
 12  third_down_attempts     568 non-null    int64
 13  third_down_conversions  568 non-null    int64
 14  time_of_possession      568 non-null    int64
 15  times_sacked            568 non-null    int64
 16  week                    568 non-null    int64
 17  yards_lost_from_sacks   568 non-null    int64
 18  team_abbr               568 non-null    object
 19  extra_points_ratio      522 non-null    float64
 20  field_goal_ratio        505 non-null    float64
 21  fourth_down_ratio       390 non-null    float64
dtypes: float64(7), int64(13), object(2)
memory usage: 97.8+ KB

In [34]:
#Creating a third down ratio feature

combined_schedule['third_down_ratio'] = combined_schedule['third_down_conversions'] / combined_schedule['third_down_attempts']

combined_schedule = combined_schedule.drop(['third_down_conversions', 'third_down_attempts'], axis=1)

combined_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   interceptions           568 non-null    int64
 1   pass_completion_rate    568 non-null    float64
 2   pass_touchdowns         568 non-null    int64
 3   pass_yards_per_attempt  568 non-null    float64
 4   points_allowed          568 non-null    int64
 5   points_scored           568 non-null    int64
 6   punt_yards              568 non-null    int64
 7   punts                   568 non-null    int64
 8   quarterback_rating      568 non-null    float64
 9   result                  568 non-null    object
 10  rush_touchdowns         568 non-null    int64
 11  rush_yards_per_attempt  568 non-null    float64
 12  time_of_possession      568 non-null    int64
 13  times_sacked            568 non-null    int64
 14  week                    568 non-null    int64
 15  yards_lost_from_sacks   568 non-null    int64
 16  team_abbr               568 non-null    object
 17  extra_points_ratio      522 non-null    float64
 18  field_goal_ratio        505 non-null    float64
 19  fourth_down_ratio       390 non-null    float64
 20  third_down_ratio        568 non-null    float64
dtypes: float64(8), int64(11), object(2)
memory usage: 93.3+ KB

In [35]:
combined_schedule[['punts','punt_yards']]
combined_schedule = combined_schedule.drop(['punt_yards'], axis=1)

Once again, these two features are highly correlated. I decided to drop punt yards because it is less representative of a team's success. Punts alone is much more powerful of a variable in terms of impact on a game

In [36]:
#Mapping wins to 1 and losses to 0

combined_schedule['result'] = combined_schedule['result'].map({'Loss':0,'Win':1})
print(combined_schedule['result'])

0      0.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
563    0.0
564    1.0
565    0.0
566    0.0
567    1.0
Name: result, Length: 568, dtype: float64

In [37]:
combined_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   interceptions           568 non-null    int64
 1   pass_completion_rate    568 non-null    float64
 2   pass_touchdowns         568 non-null    int64
 3   pass_yards_per_attempt  568 non-null    float64
 4   points_allowed          568 non-null    int64
 5   points_scored           568 non-null    int64
 6   punts                   568 non-null    int64
 7   quarterback_rating      568 non-null    float64
 8   result                  564 non-null    float64
 9   rush_touchdowns         568 non-null    int64
 10  rush_yards_per_attempt  568 non-null    float64
 11  time_of_possession      568 non-null    int64
 12  times_sacked            568 non-null    int64
 13  week                    568 non-null    int64
 14  yards_lost_from_sacks   568 non-null    int64
 15  team_abbr               568 non-null    object
 16  extra_points_ratio      522 non-null    float64
 17  field_goal_ratio        505 non-null    float64
 18  fourth_down_ratio       390 non-null    float64
 19  third_down_ratio        568 non-null    float64
dtypes: float64(9), int64(10), object(1)
memory usage: 88.9+ KB

In [38]:
# Attributing 0.5 to games that ended in a tie
combined_schedule['result'].fillna(0.5, inplace=True)
combined_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   interceptions           568 non-null    int64
 1   pass_completion_rate    568 non-null    float64
 2   pass_touchdowns         568 non-null    int64
 3   pass_yards_per_attempt  568 non-null    float64
 4   points_allowed          568 non-null    int64
 5   points_scored           568 non-null    int64
 6   punts                   568 non-null    int64
 7   quarterback_rating      568 non-null    float64
 8   result                  568 non-null    float64
 9   rush_touchdowns         568 non-null    int64
 10  rush_yards_per_attempt  568 non-null    float64
 11  time_of_possession      568 non-null    int64
 12  times_sacked            568 non-null    int64
 13  week                    568 non-null    int64
 14  yards_lost_from_sacks   568 non-null    int64
 15  team_abbr               568 non-null    object
 16  extra_points_ratio      522 non-null    float64
 17  field_goal_ratio        505 non-null    float64
 18  fourth_down_ratio       390 non-null    float64
 19  third_down_ratio        568 non-null    float64
dtypes: float64(9), int64(10), object(1)
memory usage: 88.9+ KB

In [39]:
#Creating a function that will aggregate team data up to any given week of the season

def agg_weekly_data(df, week):
    
    filtered_df = df[df['week'] < week]
    agg_df = filtered_df.groupby('team_abbr').agg({
        'interceptions': 'mean',
        'pass_completion_rate': 'mean',
        'pass_touchdowns': 'mean',
        'pass_yards_per_attempt': 'mean',
        'points_allowed': 'mean',
        'points_scored': 'mean',
        'punts': 'mean',
        'quarterback_rating': 'mean',
        'result': 'mean', #essentially creating a win ratio
        'rush_touchdowns': 'mean',
        'rush_yards_per_attempt': 'mean',
        'time_of_possession': 'mean',
        'times_sacked': 'mean',
        'yards_lost_from_sacks': 'mean',
        'extra_points_ratio': 'mean', #pandas will automatically exclude nullvalues from the agg
        'field_goal_ratio': 'mean',
        'fourth_down_ratio': 'mean',
        'third_down_ratio': 'mean'
    }).reset_index()
    
    #Renaming columns
    agg_df = agg_df.rename(columns={
        'interceptions': 'avg_interceptions_thrown',
        'pass_completion_rate':'avg_pass_completion_rate',
        'pass_touchdowns': 'avg_pass_touchdowns',
        'pass_yards_per_attempt': 'avg_pass_yards_per_attempt',
        'points_allowed': 'avg_points_allowed',
        'points_scored': 'avg_points_scored',
        'punts': 'avg_punts',
        'quarterback_rating': 'avg_quarterback_rating',
        'result': 'win_ratio', 
        'rush_touchdowns': 'avg_rush_touchdowns',
        'rush_yards_per_attempt': 'avg_rush_yards_per_attempt',
        'time_of_possession': 'avg_time_of_possession',
        'times_sacked': 'avg_times_sacked',
        'yards_lost_from_sacks': 'avg_yards_lost_from_sacks',
        'extra_points_ratio': 'avg_extra_points_ratio', 
        'field_goal_ratio': 'avg_field_goal_ratio',
        'fourth_down_ratio': 'avg_fourth_down_ratio',
        'third_down_ratio': 'avg_third_down_ratio'
     })
    #Return the current week that is being aggregated to
    agg_df['week'] = week

    
    return agg_df

In [40]:
combined_schedule.head(10)

,interceptions,pass_completion_rate,pass_touchdowns,pass_yards_per_attempt,points_allowed,points_scored,punts,quarterback_rating,result,rush_touchdowns,rush_yards_per_attempt,time_of_possession,times_sacked,week,yards_lost_from_sacks,team_abbr,extra_points_ratio,field_goal_ratio,fourth_down_ratio,third_down_ratio
0,3,70.7,1,5.9,31,10,4,58.1,0.0,0,2.9,1726,7,1,49,ram,1.0,1.0,0.666667,0.461538
1,2,75.0,3,7.6,27,31,0,100.7,1.0,1,2.5,1824,1,2,0,ram,1.0,1.0,0.000000,0.600000
2,0,72.0,0,10.0,12,20,3,101.9,1.0,2,5.0,1564,1,3,10,ram,1.0,1.0,NaN,0.375000
3,1,66.7,0,5.3,24,9,4,66.3,0.0,0,3.2,2074,7,4,54,ram,NaN,1.0,1.000000,0.333333
4,1,65.9,1,7.3,22,10,6,82.1,0.0,0,2.5,1830,5,5,35,ram,1.0,0.5,1.000000,0.352941
5,1,78.8,1,7.7,10,24,5,95.6,1.0,2,3.8,2225,1,6,4,ram,1.0,1.0,NaN,0.500000
6,0,66.7,1,5.7,31,14,5,88.8,0.0,1,2.7,1804,2,8,20,ram,1.0,NaN,NaN,0.615385
7,0,48.1,1,6.1,16,13,9,75.8,0.0,0,2.8,1724,4,9,27,ram,1.0,1.0,NaN,0.266667
8,1,67.6,1,5.6,27,17,5,77.5,0.0,1,3.3,1679,3,10,19,ram,1.0,1.0,1.000000,0.272727
9,0,57.1,2,8.0,27,20,6,101.5,0.0,0,4.9,1733,4,11,35,ram,1.0,1.0,0.500000,0.357143

In [41]:
#Display's the aggregated stats of each team up to week 7
agg_weekly_data(combined_schedule,7)

,team_abbr,avg_interceptions_thrown,avg_pass_completion_rate,avg_pass_touchdowns,avg_pass_yards_per_attempt,avg_points_allowed,avg_points_scored,avg_punts,avg_quarterback_rating,win_ratio,avg_rush_touchdowns,avg_rush_yards_per_attempt,avg_time_of_possession,avg_times_sacked,avg_yards_lost_from_sacks,avg_extra_points_ratio,avg_field_goal_ratio,avg_fourth_down_ratio,avg_third_down_ratio,week
0,atl,0.666667,62.783333,1.000000,7.983333,22.666667,24.333333,3.333333,85.800000,0.500000,1.333333,4.883333,1798.166667,2.333333,16.666667,1.000000,0.660000,0.750000,0.443468,7
1,buf,0.666667,66.166667,2.833333,8.316667,13.500000,29.333333,1.833333,106.500000,0.833333,0.500000,4.950000,1806.333333,1.500000,8.333333,1.000000,0.833333,0.666667,0.529759,7
2,car,0.833333,56.350000,0.666667,6.366667,24.333333,17.166667,5.000000,69.066667,0.166667,0.500000,4.183333,1496.833333,3.166667,20.500000,1.000000,0.958333,0.483333,0.236003,7
3,chi,0.833333,55.183333,0.666667,7.416667,19.666667,15.500000,4.166667,65.633333,0.333333,0.833333,5.133333,1648.333333,3.833333,22.000000,0.866667,1.000000,0.416667,0.341087,7
4,cin,0.833333,67.133333,2.000000,7.250000,19.166667,23.000000,3.666667,96.250000,0.500000,0.500000,3.733333,1992.666667,3.666667,24.500000,0.800000,0.888889,0.266667,0.481046,7
5,cle,0.833333,61.766667,1.000000,6.550000,27.166667,24.666667,3.333333,79.733333,0.333333,1.666667,5.166667,1975.000000,1.500000,8.000000,0.883333,0.833333,0.503333,0.418320,7
6,clt,1.166667,66.516667,1.333333,6.983333,20.166667,17.166667,4.000000,80.266667,0.583333,0.333333,3.416667,1924.666667,3.500000,28.000000,1.000000,0.833333,0.111111,0.409188,7
7,crd,0.666667,65.183333,1.000000,5.833333,23.666667,19.000000,3.833333,80.383333,0.333333,0.833333,4.433333,1902.666667,2.333333,19.166667,0.800000,0.875000,0.558333,0.339255,7
8,dal,0.666667,57.416667,0.833333,6.450000,16.333333,18.333333,4.666667,76.983333,0.666667,0.666667,4.316667,1681.000000,1.500000,10.333333,0.900000,0.875000,0.600000,0.325214,7
9,den,0.500000,58.366667,0.833333,7.333333,16.500000,15.166667,5.500000,82.150000,0.333333,0.333333,4.366667,1870.166667,3.333333,21.166667,0.916667,0.833333,0.500000,0.298483,7
10,det,0.800000,59.680000,2.200000,7.240000,34.000000,28.000000,3.200000,91.600000,0.200000,1.400000,5.600000,1750.400000,1.400000,11.800000,0.875000,0.777778,0.533333,0.374277,7
11,gnb,0.500000,67.683333,1.500000,6.983333,20.500000,17.833333,4.500000,94.316667,0.500000,0.500000,4.600000,1951.166667,2.500000,20.166667,1.000000,0.875000,0.312500,0.394577,7
12,htx,0.800000,63.140000,1.000000,6.340000,19.800000,17.200000,5.200000,78.460000,0.300000,0.600000,4.820000,1759.200000,2.400000,17.600000,1.000000,0.900000,0.444444,0.291026,7
13,jax,0.666667,67.350000,1.500000,7.033333,19.000000,23.000000,3.000000,91.950000,0.333333,1.000000,4.983333,1827.000000,1.666667,11.666667,1.000000,0.937500,0.305556,0.399603,7
14,kan,0.666667,65.533333,2.833333,7.533333,24.833333,29.833333,3.000000,103.116667,0.666667,0.666667,4.300000,1858.333333,1.833333,13.500000,0.805556,0.777778,0.625000,0.485198,7
15,mia,1.166667,64.316667,1.833333,8.150000,25.833333,21.833333,4.000000,90.916667,0.500000,0.666667,3.816667,1795.500000,2.500000,17.000000,0.833333,0.687500,0.500000,0.381548,7
16,min,0.833333,66.850000,1.500000,6.750000,19.666667,23.166667,4.500000,90.066667,0.833333,1.166667,4.433333,1745.500000,1.833333,14.333333,0.833333,0.600000,0.833333,0.364510,7
17,nor,1.000000,63.883333,1.333333,7.350000,26.333333,23.500000,4.500000,86.683333,0.333333,1.333333,5.400000,1840.000000,2.500000,16.000000,1.000000,0.694444,0.333333,0.407003,7
18,nwe,1.000000,70.300000,1.000000,8.150000,18.833333,23.500000,3.666667,89.866667,0.500000,1.333333,4.366667,1902.500000,1.833333,13.166667,1.000000,0.800000,0.250000,0.383690,7
19,nyg,0.500000,67.383333,0.833333,6.500000,18.833333,21.166667,4.166667,83.383333,0.833333,1.333333,4.983333,1876.166667,3.166667,17.666667,1.000000,0.883333,0.500000,0.380014,7
20,nyj,0.833333,58.366667,1.166667,6.816667,21.333333,23.833333,4.666667,78.300000,0.666667,1.333333,4.383333,1776.166667,2.333333,16.333333,0.800000,0.861111,0.550000,0.335089,7
21,oti,0.600000,64.400000,1.200000,7.340000,23.600000,19.200000,5.400000,88.000000,0.600000,1.200000,3.680000,1770.000000,2.400000,18.800000,1.000000,0.888889,0.666667,0.361688,7
22,phi,0.333333,66.550000,1.000000,8.166667,17.500000,26.833333,4.000000,94.733333,1.000000,2.166667,4.100000,2039.000000,2.500000,13.833333,0.944444,0.916667,0.786667,0.436134,7
23,pit,1.000000,63.150000,0.666667,6.300000,24.333333,16.166667,5.000000,76.016667,0.333333,0.666667,3.650000,1726.833333,2.166667,13.666667,1.000000,0.763889,0.666667,0.368519,7
24,rai,0.800000,61.740000,1.600000,6.960000,26.000000,25.000000,2.800000,86.340000,0.200000,0.600000,5.180000,1821.000000,2.400000,17.400000,0.933333,1.000000,0.666667,0.400000,7
25,ram,1.333333,71.516667,1.000000,7.300000,21.000000,17.333333,3.666667,84.116667,0.500000,0.833333,3.316667,1873.833333,3.666667,25.333333,1.000000,0.916667,0.666667,0.437135,7
26,rav,1.000000,62.116667,2.166667,7.100000,23.500000,26.333333,3.000000,91.850000,0.500000,0.666667,5.933333,1796.000000,1.833333,7.166667,0.966667,0.944444,0.277778,0.409207,7
27,sdg,0.500000,66.616667,1.666667,6.900000,25.333333,23.500000,3.833333,95.666667,0.666667,0.833333,3.466667,1881.333333,1.166667,6.000000,1.000000,0.916667,0.305556,0.404281,7
28,sea,0.500000,72.900000,1.500000,8.100000,27.166667,24.333333,3.333333,104.000000,0.500000,0.833333,5.050000,1645.666667,2.333333,18.666667,0.944444,0.933333,0.166667,0.417901,7
29,sfo,0.666667,60.166667,1.166667,7.566667,14.833333,20.333333,3.833333,86.933333,0.500000,1.000000,4.333333,1796.333333,1.500000,8.333333,0.966667,0.733333,0.166667,0.390931,7
30,tam,0.166667,66.366667,1.333333,6.716667,17.166667,20.166667,4.500000,92.133333,0.500000,0.333333,2.633333,1698.000000,1.500000,10.833333,1.000000,0.966667,0.500000,0.380215,7
31,was,1.000000,61.500000,1.666667,6.283333,22.500000,17.000000,5.833333,80.433333,0.333333,0.500000,3.933333,1867.333333,3.833333,23.333333,0.875000,0.888889,0.250000,0.354278,7

In [42]:
#Creating a dataframe combining the agg_weekly_data function for each week of the season

complete_agg_weekly_data = pd.DataFrame()

for week in range(2,24):
    
    agg_data = agg_weekly_data(combined_schedule,week)
    
    complete_agg_weekly_data = complete_agg_weekly_data.append(agg_data, ignore_index=True)
    
#Checking for duplicates just in case
print(complete_agg_weekly_data.duplicated().sum())

0

In [43]:
#Making the week columns a string and adding -2022

complete_agg_weekly_data['week'] = complete_agg_weekly_data['week'].astype(str) + '-2022'
complete_agg_weekly_data['week'].unique()

array(['2-2022', '3-2022', '4-2022', '5-2022', '6-2022', '7-2022',
       '8-2022', '9-2022', '10-2022', '11-2022', '12-2022', '13-2022',
       '14-2022', '15-2022', '16-2022', '17-2022', '18-2022', '19-2022',
       '20-2022', '21-2022', '22-2022', '23-2022'], dtype=object)

In [44]:
complete_agg_weekly_data

,team_abbr,avg_interceptions_thrown,avg_pass_completion_rate,avg_pass_touchdowns,avg_pass_yards_per_attempt,avg_points_allowed,avg_points_scored,avg_punts,avg_quarterback_rating,win_ratio,avg_rush_touchdowns,avg_rush_yards_per_attempt,avg_time_of_possession,avg_times_sacked,avg_yards_lost_from_sacks,avg_extra_points_ratio,avg_field_goal_ratio,avg_fourth_down_ratio,avg_third_down_ratio,week
0,atl,0.000000,60.600000,0.000000,6.500000,27.000000,26.000000,4.000000,79.700000,0.000000,2.000000,5.300000,2024.000000,0.000000,0.000000,1.000000,0.800000,NaN,0.384615,2-2022
1,buf,2.000000,83.900000,3.000000,9.600000,10.000000,31.000000,0.000000,111.300000,1.000000,1.000000,4.800000,1874.000000,2.000000,5.000000,1.000000,1.000000,NaN,0.900000,2-2022
2,car,1.000000,59.300000,1.000000,8.700000,26.000000,24.000000,5.000000,80.300000,0.000000,2.000000,2.800000,1294.000000,4.000000,28.000000,1.000000,1.000000,NaN,0.363636,2-2022
3,chi,1.000000,47.100000,2.000000,7.100000,10.000000,19.000000,6.000000,81.700000,1.000000,1.000000,2.700000,1592.000000,2.000000,16.000000,0.333333,NaN,NaN,0.357143,2-2022
4,cin,4.000000,62.300000,2.000000,6.400000,23.000000,20.000000,3.000000,58.600000,0.000000,0.000000,3.900000,2622.000000,7.000000,39.000000,0.000000,0.666667,0.333333,0.500000,2-2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,sdg,0.555556,68.116667,1.500000,6.855556,23.055556,23.388889,4.333333,92.911111,0.555556,0.944444,3.616667,1848.833333,2.333333,12.611111,1.000000,0.936275,0.482051,0.434311,23-2022
700,sea,0.722222,69.788889,1.777778,7.544444,24.555556,23.888889,3.888889,98.072222,0.500000,0.722222,4.550000,1735.500000,2.722222,20.722222,0.981481,0.953922,0.555556,0.372373,23-2022
701,sfo,0.450000,65.685000,1.650000,8.050000,17.150000,25.850000,3.500000,101.415000,0.750000,1.150000,4.600000,1891.550000,1.850000,11.500000,0.965000,0.848039,0.333333,0.443986,23-2022
702,tam,0.611111,65.672222,1.555556,6.355556,21.611111,18.166667,4.666667,88.227778,0.444444,0.277778,3.272222,1765.166667,1.333333,9.833333,0.964286,0.787255,0.528912,0.381718,23-2022
703,was,0.941176,61.500000,1.411765,6.841176,20.176471,18.882353,4.882353,81.417647,0.500000,0.529412,4.011765,2003.941176,2.823529,18.294118,0.844444,0.891026,0.512821,0.338425,23-2022

In [45]:
#Ensuring the data is the same as four code blocks above
complete_agg_weekly_data[complete_agg_weekly_data['week'] == '7-2022']

,team_abbr,avg_interceptions_thrown,avg_pass_completion_rate,avg_pass_touchdowns,avg_pass_yards_per_attempt,avg_points_allowed,avg_points_scored,avg_punts,avg_quarterback_rating,win_ratio,avg_rush_touchdowns,avg_rush_yards_per_attempt,avg_time_of_possession,avg_times_sacked,avg_yards_lost_from_sacks,avg_extra_points_ratio,avg_field_goal_ratio,avg_fourth_down_ratio,avg_third_down_ratio,week
160,atl,0.666667,62.783333,1.000000,7.983333,22.666667,24.333333,3.333333,85.800000,0.500000,1.333333,4.883333,1798.166667,2.333333,16.666667,1.000000,0.660000,0.750000,0.443468,7-2022
161,buf,0.666667,66.166667,2.833333,8.316667,13.500000,29.333333,1.833333,106.500000,0.833333,0.500000,4.950000,1806.333333,1.500000,8.333333,1.000000,0.833333,0.666667,0.529759,7-2022
162,car,0.833333,56.350000,0.666667,6.366667,24.333333,17.166667,5.000000,69.066667,0.166667,0.500000,4.183333,1496.833333,3.166667,20.500000,1.000000,0.958333,0.483333,0.236003,7-2022
163,chi,0.833333,55.183333,0.666667,7.416667,19.666667,15.500000,4.166667,65.633333,0.333333,0.833333,5.133333,1648.333333,3.833333,22.000000,0.866667,1.000000,0.416667,0.341087,7-2022
164,cin,0.833333,67.133333,2.000000,7.250000,19.166667,23.000000,3.666667,96.250000,0.500000,0.500000,3.733333,1992.666667,3.666667,24.500000,0.800000,0.888889,0.266667,0.481046,7-2022
165,cle,0.833333,61.766667,1.000000,6.550000,27.166667,24.666667,3.333333,79.733333,0.333333,1.666667,5.166667,1975.000000,1.500000,8.000000,0.883333,0.833333,0.503333,0.418320,7-2022
166,clt,1.166667,66.516667,1.333333,6.983333,20.166667,17.166667,4.000000,80.266667,0.583333,0.333333,3.416667,1924.666667,3.500000,28.000000,1.000000,0.833333,0.111111,0.409188,7-2022
167,crd,0.666667,65.183333,1.000000,5.833333,23.666667,19.000000,3.833333,80.383333,0.333333,0.833333,4.433333,1902.666667,2.333333,19.166667,0.800000,0.875000,0.558333,0.339255,7-2022
168,dal,0.666667,57.416667,0.833333,6.450000,16.333333,18.333333,4.666667,76.983333,0.666667,0.666667,4.316667,1681.000000,1.500000,10.333333,0.900000,0.875000,0.600000,0.325214,7-2022
169,den,0.500000,58.366667,0.833333,7.333333,16.500000,15.166667,5.500000,82.150000,0.333333,0.333333,4.366667,1870.166667,3.333333,21.166667,0.916667,0.833333,0.500000,0.298483,7-2022
170,det,0.800000,59.680000,2.200000,7.240000,34.000000,28.000000,3.200000,91.600000,0.200000,1.400000,5.600000,1750.400000,1.400000,11.800000,0.875000,0.777778,0.533333,0.374277,7-2022
171,gnb,0.500000,67.683333,1.500000,6.983333,20.500000,17.833333,4.500000,94.316667,0.500000,0.500000,4.600000,1951.166667,2.500000,20.166667,1.000000,0.875000,0.312500,0.394577,7-2022
172,htx,0.800000,63.140000,1.000000,6.340000,19.800000,17.200000,5.200000,78.460000,0.300000,0.600000,4.820000,1759.200000,2.400000,17.600000,1.000000,0.900000,0.444444,0.291026,7-2022
173,jax,0.666667,67.350000,1.500000,7.033333,19.000000,23.000000,3.000000,91.950000,0.333333,1.000000,4.983333,1827.000000,1.666667,11.666667,1.000000,0.937500,0.305556,0.399603,7-2022
174,kan,0.666667,65.533333,2.833333,7.533333,24.833333,29.833333,3.000000,103.116667,0.666667,0.666667,4.300000,1858.333333,1.833333,13.500000,0.805556,0.777778,0.625000,0.485198,7-2022
175,mia,1.166667,64.316667,1.833333,8.150000,25.833333,21.833333,4.000000,90.916667,0.500000,0.666667,3.816667,1795.500000,2.500000,17.000000,0.833333,0.687500,0.500000,0.381548,7-2022
176,min,0.833333,66.850000,1.500000,6.750000,19.666667,23.166667,4.500000,90.066667,0.833333,1.166667,4.433333,1745.500000,1.833333,14.333333,0.833333,0.600000,0.833333,0.364510,7-2022
177,nor,1.000000,63.883333,1.333333,7.350000,26.333333,23.500000,4.500000,86.683333,0.333333,1.333333,5.400000,1840.000000,2.500000,16.000000,1.000000,0.694444,0.333333,0.407003,7-2022
178,nwe,1.000000,70.300000,1.000000,8.150000,18.833333,23.500000,3.666667,89.866667,0.500000,1.333333,4.366667,1902.500000,1.833333,13.166667,1.000000,0.800000,0.250000,0.383690,7-2022
179,nyg,0.500000,67.383333,0.833333,6.500000,18.833333,21.166667,4.166667,83.383333,0.833333,1.333333,4.983333,1876.166667,3.166667,17.666667,1.000000,0.883333,0.500000,0.380014,7-2022
180,nyj,0.833333,58.366667,1.166667,6.816667,21.333333,23.833333,4.666667,78.300000,0.666667,1.333333,4.383333,1776.166667,2.333333,16.333333,0.800000,0.861111,0.550000,0.335089,7-2022
181,oti,0.600000,64.400000,1.200000,7.340000,23.600000,19.200000,5.400000,88.000000,0.600000,1.200000,3.680000,1770.000000,2.400000,18.800000,1.000000,0.888889,0.666667,0.361688,7-2022
182,phi,0.333333,66.550000,1.000000,8.166667,17.500000,26.833333,4.000000,94.733333,1.000000,2.166667,4.100000,2039.000000,2.500000,13.833333,0.944444,0.916667,0.786667,0.436134,7-2022
183,pit,1.000000,63.150000,0.666667,6.300000,24.333333,16.166667,5.000000,76.016667,0.333333,0.666667,3.650000,1726.833333,2.166667,13.666667,1.000000,0.763889,0.666667,0.368519,7-2022
184,rai,0.800000,61.740000,1.600000,6.960000,26.000000,25.000000,2.800000,86.340000,0.200000,0.600000,5.180000,1821.000000,2.400000,17.400000,0.933333,1.000000,0.666667,0.400000,7-2022
185,ram,1.333333,71.516667,1.000000,7.300000,21.000000,17.333333,3.666667,84.116667,0.500000,0.833333,3.316667,1873.833333,3.666667,25.333333,1.000000,0.916667,0.666667,0.437135,7-2022
186,rav,1.000000,62.116667,2.166667,7.100000,23.500000,26.333333,3.000000,91.850000,0.500000,0.666667,5.933333,1796.000000,1.833333,7.166667,0.966667,0.944444,0.277778,0.409207,7-2022
187,sdg,0.500000,66.616667,1.666667,6.900000,25.333333,23.500000,3.833333,95.666667,0.666667,0.833333,3.466667,1881.333333,1.166667,6.000000,1.000000,0.916667,0.305556,0.404281,7-2022
188,sea,0.500000,72.900000,1.500000,8.100000,27.166667,24.333333,3.333333,104.000000,0.500000,0.833333,5.050000,1645.666667,2.333333,18.666667,0.944444,0.933333,0.166667,0.417901,7-2022
189,sfo,0.666667,60.166667,1.166667,7.566667,14.833333,20.333333,3.833333,86.933333,0.500000,1.000000,4.333333,1796.333333,1.500000,8.333333,0.966667,0.733333,0.166667,0.390931,7-2022
190,tam,0.166667,66.366667,1.333333,6.716667,17.166667,20.166667,4.500000,92.133333,0.500000,0.333333,2.633333,1698.000000,1.500000,10.833333,1.000000,0.966667,0.500000,0.380215,7-2022
191,was,1.000000,61.500000,1.666667,6.283333,22.500000,17.000000,5.833333,80.433333,0.333333,0.500000,3.933333,1867.333333,3.833333,23.333333,0.875000,0.888889,0.250000,0.354278,7-2022

#extracting the 2022 schedule

schedule_2022 = Boxscores(1,2022,22).games
print(schedule_2022)
schedule_2022.to_csv('schedule_2022.csv', index=False)

#Reformatting the 2022 schedule so that is can be merged with complete_agg_weekly_data

data = {
    'week': [],
    'boxscore': [],
    'away_abbr': [],
    'away_score': [],
    'home_abbr': [],
    'home_score': [],
    'winning_abbr': [],
    'losing_abbr': []
}

# Iterate over the dictionary and flatten the data
for week, games in schedule_2022.items():
    for game in games:
        data['week'].append(week)
        data['boxscore'].append(game['boxscore'])
        data['away_abbr'].append(game['away_abbr'])
        data['away_score'].append(game['away_score'])
        data['home_abbr'].append(game['home_abbr'])
        data['home_score'].append(game['home_score'])
        data['winning_abbr'].append(game['winning_abbr'])
        data['losing_abbr'].append(game['losing_abbr'])

schedule_df = pd.DataFrame(data)

schedule_df.to_csv('2022_schedule.csv', index=False)

In [46]:
schedule_df = pd.read_csv('2022_schedule.csv')

In [47]:
schedule_df

,week,boxscore,away_abbr,away_score,home_abbr,home_score,winning_abbr,losing_abbr
0,1-2022,202209080ram,buf,31,ram,10,buf,ram
1,1-2022,202209110atl,nor,27,atl,26,nor,atl
2,1-2022,202209110car,cle,26,car,24,cle,car
3,1-2022,202209110chi,sfo,10,chi,19,chi,sfo
4,1-2022,202209110cin,pit,23,cin,20,pit,cin
...,...,...,...,...,...,...,...,...
279,20-2022,202301220buf,cin,27,buf,10,cin,buf
280,20-2022,202301220sfo,dal,12,sfo,19,sfo,dal
281,21-2022,202301290phi,sfo,7,phi,31,phi,sfo
282,21-2022,202301290kan,cin,20,kan,23,kan,cin
283,22-2022,202302120phi,kan,38,phi,35,kan,phi

In [48]:
schedule_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   week          284 non-null    object
 1   boxscore      284 non-null    object
 2   away_abbr     284 non-null    object
 3   away_score    284 non-null    int64
 4   home_abbr     284 non-null    object
 5   home_score    284 non-null    int64
 6   winning_abbr  282 non-null    object
 7   losing_abbr   282 non-null    object
dtypes: int64(2), object(6)
memory usage: 17.9+ KB

In [49]:
#Creating a df for the home and away teams by merging the game data with the schedule

home_df = pd.merge(schedule_df,complete_agg_weekly_data, left_on = ['week','home_abbr'], right_on=['week','team_abbr'])

#Sanity check to ensure that home and away dataframes are the same size
print(home_df.duplicated().sum())
print(home_df.shape)
print(schedule_df.shape)

away_df = pd.merge(schedule_df,complete_agg_weekly_data, left_on = ['week','away_abbr'], right_on=['week','team_abbr'])
print(away_df.duplicated().sum())
print(away_df.shape)
print(schedule_df.shape)

0
(268, 27)
(284, 8)
0
(268, 27)
(284, 8)

In [50]:
#Adjusting settings so that all columns can be seen
pd.set_option('display.max_columns', None)

home_df

,week,boxscore,away_abbr,away_score,home_abbr,home_score,winning_abbr,losing_abbr,team_abbr,avg_interceptions_thrown,avg_pass_completion_rate,avg_pass_touchdowns,avg_pass_yards_per_attempt,avg_points_allowed,avg_points_scored,avg_punts,avg_quarterback_rating,win_ratio,avg_rush_touchdowns,avg_rush_yards_per_attempt,avg_time_of_possession,avg_times_sacked,avg_yards_lost_from_sacks,avg_extra_points_ratio,avg_field_goal_ratio,avg_fourth_down_ratio,avg_third_down_ratio
0,2-2022,202209150kan,sdg,24,kan,27,kan,sdg,kan,0.000000,76.900000,5.000000,9.200000,21.000000,44.000000,2.000000,144.200000,1.000000,1.000000,4.700000,2082.000000,0.000000,0.000000,0.833333,1.000000,1.000000,0.625000
1,2-2022,202209180cle,nyj,31,cle,30,nyj,cle,cle,0.000000,52.900000,1.000000,4.300000,24.000000,26.000000,4.000000,72.900000,1.000000,1.000000,5.600000,2306.000000,1.000000,9.000000,1.000000,1.000000,0.500000,0.444444
2,2-2022,202209180det,was,27,det,36,det,was,det,1.000000,56.800000,2.000000,5.800000,38.000000,35.000000,4.000000,79.200000,0.000000,3.000000,6.500000,1706.000000,1.000000,10.000000,1.000000,NaN,1.000000,0.642857
3,2-2022,202209180jax,clt,0,jax,24,jax,clt,jax,1.000000,57.100000,1.000000,6.500000,28.000000,22.000000,3.000000,73.500000,0.000000,1.000000,6.800000,1587.000000,2.000000,15.000000,1.000000,0.750000,0.000000,0.250000
4,2-2022,202209180nor,tam,20,nor,10,tam,nor,nor,0.000000,67.600000,2.000000,7.900000,26.000000,27.000000,5.000000,106.700000,1.000000,1.000000,7.900000,1576.000000,4.000000,35.000000,1.000000,0.666667,NaN,0.307692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,20-2022,202301220buf,cin,27,buf,10,cin,buf,buf,0.941176,62.329412,2.235294,7.600000,18.647059,28.764706,3.000000,93.241176,0.823529,0.941176,5.170588,1799.764706,2.352941,11.647059,0.965686,0.843750,0.458333,0.499455
264,20-2022,202301220sfo,dal,12,sfo,19,sfo,dal,sfo,0.500000,65.950000,1.833333,8.233333,16.666667,27.277778,3.444444,103.933333,0.777778,1.166667,4.727778,1916.888889,1.777778,11.166667,0.961111,0.838542,0.366667,0.451651
265,21-2022,202301290phi,sfo,7,phi,31,phi,sfo,phi,0.500000,65.488889,1.500000,7.972222,19.500000,28.611111,3.277778,97.466667,0.833333,1.944444,4.622222,1850.222222,2.500000,14.722222,0.970370,0.866667,0.733333,0.474927
266,21-2022,202301290kan,cin,20,kan,23,kan,cin,kan,0.666667,66.961111,2.444444,8.044444,21.611111,29.055556,3.166667,104.588889,0.833333,1.000000,4.616667,1833.888889,1.444444,10.444444,0.837963,0.725490,0.722222,0.486078
267,22-2022,202302120phi,kan,38,phi,35,kan,phi,phi,0.473684,65.200000,1.421053,7.805263,18.842105,28.736842,3.315789,96.136842,0.842105,2.052632,4.557895,1871.052632,2.421053,13.947368,0.971930,0.875000,0.751111,0.467474

In [51]:
away_df

,week,boxscore,away_abbr,away_score,home_abbr,home_score,winning_abbr,losing_abbr,team_abbr,avg_interceptions_thrown,avg_pass_completion_rate,avg_pass_touchdowns,avg_pass_yards_per_attempt,avg_points_allowed,avg_points_scored,avg_punts,avg_quarterback_rating,win_ratio,avg_rush_touchdowns,avg_rush_yards_per_attempt,avg_time_of_possession,avg_times_sacked,avg_yards_lost_from_sacks,avg_extra_points_ratio,avg_field_goal_ratio,avg_fourth_down_ratio,avg_third_down_ratio
0,2-2022,202209150kan,sdg,24,kan,27,kan,sdg,sdg,0.000000,76.500000,3.000000,8.200000,19.000000,24.000000,4.000000,129.400000,1.000000,0.000000,2.500000,1952.000000,0.000000,0.000000,1.000000,0.500000,0.000000,0.428571
1,2-2022,202209180cle,nyj,31,cle,30,nyj,cle,nyj,1.000000,62.700000,1.000000,5.200000,24.000000,9.000000,6.000000,73.900000,0.000000,0.000000,4.900000,1950.000000,3.000000,12.000000,0.000000,0.500000,0.750000,0.142857
2,2-2022,202209180det,was,27,det,36,det,was,was,2.000000,65.900000,4.000000,7.600000,22.000000,28.000000,3.000000,100.200000,1.000000,0.000000,3.000000,2013.000000,1.000000,8.000000,1.000000,NaN,NaN,0.700000
3,2-2022,202209180jax,clt,0,jax,24,jax,clt,clt,1.000000,64.000000,1.000000,7.000000,20.000000,20.000000,4.000000,82.100000,0.500000,1.000000,4.700000,2377.000000,2.000000,12.000000,1.000000,0.666667,0.000000,0.400000
4,2-2022,202209180nor,tam,20,nor,10,tam,nor,tam,1.000000,66.700000,1.000000,7.900000,3.000000,19.000000,3.000000,84.600000,1.000000,0.000000,4.600000,1962.000000,2.000000,17.000000,1.000000,0.800000,NaN,0.357143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,20-2022,202301220buf,cin,27,buf,10,cin,buf,cin,0.705882,68.788235,2.117647,7.394118,19.941176,26.000000,3.647059,99.629412,0.764706,0.882353,3.717647,1918.764706,2.823529,18.000000,0.822917,0.802083,0.233333,0.470935
264,20-2022,202301220sfo,dal,12,sfo,19,sfo,dal,dal,1.000000,65.500000,1.777778,7.327778,19.777778,27.666667,4.000000,91.777778,0.722222,1.388889,4.288889,1794.388889,1.555556,10.166667,0.856303,0.865385,0.627273,0.462337
265,21-2022,202301290phi,sfo,7,phi,31,phi,sfo,sfo,0.473684,65.926316,1.736842,8.189474,16.421053,26.842105,3.473684,102.952632,0.789474,1.157895,4.663158,1919.842105,1.789474,11.368421,0.963158,0.848039,0.366667,0.454196
266,21-2022,202301290kan,cin,20,kan,23,kan,cin,cin,0.666667,68.516667,2.111111,7.355556,19.388889,26.055556,3.555556,99.738889,0.777778,0.888889,3.794444,1925.166667,2.722222,17.111111,0.833333,0.813725,0.233333,0.478105
267,22-2022,202302120phi,kan,38,phi,35,kan,phi,kan,0.631579,66.984211,2.421053,8.021053,21.526316,28.736842,3.210526,104.573684,0.842105,0.947368,4.484211,1841.105263,1.526316,10.473684,0.846491,0.740741,0.750000,0.486811

In [52]:
print(home_df.info())
print(away_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 0 to 267
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   week                        268 non-null    object
 1   boxscore                    268 non-null    object
 2   away_abbr                   268 non-null    object
 3   away_score                  268 non-null    int64
 4   home_abbr                   268 non-null    object
 5   home_score                  268 non-null    int64
 6   winning_abbr                267 non-null    object
 7   losing_abbr                 267 non-null    object
 8   team_abbr                   268 non-null    object
 9   avg_interceptions_thrown    268 non-null    float64
 10  avg_pass_completion_rate    268 non-null    float64
 11  avg_pass_touchdowns         268 non-null    float64
 12  avg_pass_yards_per_attempt  268 non-null    float64
 13  avg_points_allowed          268 non-null    float64
 14  avg_points_scored           268 non-null    float64
 15  avg_punts                   268 non-null    float64
 16  avg_quarterback_rating      268 non-null    float64
 17  win_ratio                   268 non-null    float64
 18  avg_rush_touchdowns         268 non-null    float64
 19  avg_rush_yards_per_attempt  268 non-null    float64
 20  avg_time_of_possession      268 non-null    float64
 21  avg_times_sacked            268 non-null    float64
 22  avg_yards_lost_from_sacks   268 non-null    float64
 23  avg_extra_points_ratio      267 non-null    float64
 24  avg_field_goal_ratio        263 non-null    float64
 25  avg_fourth_down_ratio       263 non-null    float64
 26  avg_third_down_ratio        268 non-null    float64
dtypes: float64(18), int64(2), object(7)
memory usage: 58.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 0 to 267
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   week                        268 non-null    object
 1   boxscore                    268 non-null    object
 2   away_abbr                   268 non-null    object
 3   away_score                  268 non-null    int64
 4   home_abbr                   268 non-null    object
 5   home_score                  268 non-null    int64
 6   winning_abbr                267 non-null    object
 7   losing_abbr                 267 non-null    object
 8   team_abbr                   268 non-null    object
 9   avg_interceptions_thrown    268 non-null    float64
 10  avg_pass_completion_rate    268 non-null    float64
 11  avg_pass_touchdowns         268 non-null    float64
 12  avg_pass_yards_per_attempt  268 non-null    float64
 13  avg_points_allowed          268 non-null    float64
 14  avg_points_scored           268 non-null    float64
 15  avg_punts                   268 non-null    float64
 16  avg_quarterback_rating      268 non-null    float64
 17  win_ratio                   268 non-null    float64
 18  avg_rush_touchdowns         268 non-null    float64
 19  avg_rush_yards_per_attempt  268 non-null    float64
 20  avg_time_of_possession      268 non-null    float64
 21  avg_times_sacked            268 non-null    float64
 22  avg_yards_lost_from_sacks   268 non-null    float64
 23  avg_extra_points_ratio      268 non-null    float64
 24  avg_field_goal_ratio        263 non-null    float64
 25  avg_fourth_down_ratio       260 non-null    float64
 26  avg_third_down_ratio        268 non-null    float64
dtypes: float64(18), int64(2), object(7)
memory usage: 58.6+ KB
None

In [53]:
home_away_df = pd.DataFrame()

In [54]:
home_away_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [55]:
#Creating a final df that combines the difference between home and away team stats for every matchup of the year
home_away_df['week'] = home_df['week']
home_away_df['home_abbr']= home_df['home_abbr']
home_away_df['away_abbr']= home_df['away_abbr']
home_away_df['home_win']= np.where(home_df['winning_abbr'] == home_df['home_abbr'],1,0)
home_away_df['interceptions_thrown'] = home_df['avg_interceptions_thrown'] - away_df['avg_interceptions_thrown']
home_away_df['avg_pass_completion_rate'] = home_df['avg_pass_completion_rate'] - away_df['avg_pass_completion_rate']
home_away_df['avg_pass_touchdowns'] = home_df['avg_pass_touchdowns'] - away_df['avg_pass_touchdowns']
home_away_df['avg_pass_yards_per_attempt'] = home_df['avg_pass_yards_per_attempt'] - away_df['avg_pass_yards_per_attempt']
home_away_df['avg_points_allowed'] = home_df['avg_points_allowed'] - away_df['avg_points_allowed']
home_away_df['avg_points_scored'] = home_df['avg_points_scored'] - away_df['avg_points_scored']
home_away_df['avg_punts'] = home_df['avg_punts'] - away_df['avg_punts']
home_away_df['avg_quarterback_rating'] = home_df['avg_quarterback_rating'] - away_df['avg_quarterback_rating']
home_away_df['win_ratio'] = home_df['win_ratio'] - away_df['win_ratio']
home_away_df['avg_rush_touchdowns'] = home_df['avg_rush_touchdowns'] - away_df['avg_rush_touchdowns']
home_away_df['avg_rush_yards_per_attempt'] = home_df['avg_rush_yards_per_attempt'] - away_df['avg_rush_yards_per_attempt']
home_away_df['avg_time_of_possession'] = home_df['avg_time_of_possession'] - away_df['avg_time_of_possession']
home_away_df['avg_times_sacked'] = home_df['avg_times_sacked'] - away_df['avg_times_sacked']
home_away_df['avg_yards_lost_from_sacks'] = home_df['avg_yards_lost_from_sacks'] - away_df['avg_yards_lost_from_sacks']
home_away_df['avg_extra_points_ratio'] = home_df['avg_extra_points_ratio'] - away_df['avg_extra_points_ratio']
home_away_df['avg_field_goal_ratio'] = home_df['avg_field_goal_ratio'] - away_df['avg_field_goal_ratio']
home_away_df['avg_fourth_down_ratio'] = home_df['avg_fourth_down_ratio'] - away_df['avg_fourth_down_ratio']
home_away_df['avg_third_down_ratio'] = home_df['avg_third_down_ratio'] - away_df['avg_third_down_ratio']

home_away_df = home_away_df.reset_index(drop=True)

home_away_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   week                        268 non-null    object
 1   home_abbr                   268 non-null    object
 2   away_abbr                   268 non-null    object
 3   home_win                    268 non-null    int64
 4   interceptions_thrown        268 non-null    float64
 5   avg_pass_completion_rate    268 non-null    float64
 6   avg_pass_touchdowns         268 non-null    float64
 7   avg_pass_yards_per_attempt  268 non-null    float64
 8   avg_points_allowed          268 non-null    float64
 9   avg_points_scored           268 non-null    float64
 10  avg_punts                   268 non-null    float64
 11  avg_quarterback_rating      268 non-null    float64
 12  win_ratio                   268 non-null    float64
 13  avg_rush_touchdowns         268 non-null    float64
 14  avg_rush_yards_per_attempt  268 non-null    float64
 15  avg_time_of_possession      268 non-null    float64
 16  avg_times_sacked            268 non-null    float64
 17  avg_yards_lost_from_sacks   268 non-null    float64
 18  avg_extra_points_ratio      267 non-null    float64
 19  avg_field_goal_ratio        260 non-null    float64
 20  avg_fourth_down_ratio       257 non-null    float64
 21  avg_third_down_ratio        268 non-null    float64
dtypes: float64(18), int64(1), object(3)
memory usage: 46.2+ KB

In [56]:
home_away_df

,week,home_abbr,away_abbr,home_win,interceptions_thrown,avg_pass_completion_rate,avg_pass_touchdowns,avg_pass_yards_per_attempt,avg_points_allowed,avg_points_scored,avg_punts,avg_quarterback_rating,win_ratio,avg_rush_touchdowns,avg_rush_yards_per_attempt,avg_time_of_possession,avg_times_sacked,avg_yards_lost_from_sacks,avg_extra_points_ratio,avg_field_goal_ratio,avg_fourth_down_ratio,avg_third_down_ratio
0,2-2022,kan,sdg,1,0.000000,0.400000,2.000000,1.000000,2.000000,20.000000,-2.000000,14.800000,0.000000,1.000000,2.200000,130.000000,0.000000,0.000000,-0.166667,0.500000,1.000000,0.196429
1,2-2022,cle,nyj,0,-1.000000,-9.800000,0.000000,-0.900000,0.000000,17.000000,-2.000000,-1.000000,1.000000,1.000000,0.700000,356.000000,-2.000000,-3.000000,1.000000,0.500000,-0.250000,0.301587
2,2-2022,det,was,1,-1.000000,-9.100000,-2.000000,-1.800000,16.000000,7.000000,1.000000,-21.000000,-1.000000,3.000000,3.500000,-307.000000,0.000000,2.000000,0.000000,NaN,NaN,-0.057143
3,2-2022,jax,clt,1,0.000000,-6.900000,0.000000,-0.500000,8.000000,2.000000,-1.000000,-8.600000,-0.500000,0.000000,2.100000,-790.000000,0.000000,3.000000,0.000000,0.083333,0.000000,-0.150000
4,2-2022,nor,tam,0,-1.000000,0.900000,1.000000,0.000000,23.000000,8.000000,2.000000,22.100000,0.000000,1.000000,3.300000,-386.000000,2.000000,18.000000,0.000000,-0.133333,NaN,-0.049451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,20-2022,buf,cin,0,0.235294,-6.458824,0.117647,0.205882,-1.294118,2.764706,-0.647059,-6.388235,0.058824,0.058824,1.452941,-119.000000,-0.470588,-6.352941,0.142770,0.041667,0.225000,0.028521
264,20-2022,sfo,dal,1,-0.500000,0.450000,0.055556,0.905556,-3.111111,-0.388889,-0.555556,12.155556,0.055556,-0.222222,0.438889,122.500000,0.222222,1.000000,0.104809,-0.026843,-0.260606,-0.010686
265,21-2022,phi,sfo,1,0.026316,-0.437427,-0.236842,-0.217251,3.078947,1.769006,-0.195906,-5.485965,0.043860,0.786550,-0.040936,-69.619883,0.710526,3.353801,0.007212,0.018627,0.366667,0.020731
266,21-2022,kan,cin,1,0.000000,-1.555556,0.333333,0.688889,2.222222,3.000000,-0.388889,4.850000,0.055556,0.111111,0.822222,-91.277778,-1.277778,-6.666667,0.004630,-0.088235,0.488889,0.007973
267,22-2022,phi,kan,0,-0.157895,-1.784211,-1.000000,-0.215789,-2.684211,0.000000,0.105263,-8.436842,0.000000,1.105263,0.073684,29.947368,0.894737,3.473684,0.125439,0.134259,0.001111,-0.019337

In [57]:
#Removing the -2022 and converting the week column back to an int
home_away_df['week'] = [int(entry.split('-')[0]) for entry in home_away_df['week']]
home_away_df

,week,home_abbr,away_abbr,home_win,interceptions_thrown,avg_pass_completion_rate,avg_pass_touchdowns,avg_pass_yards_per_attempt,avg_points_allowed,avg_points_scored,avg_punts,avg_quarterback_rating,win_ratio,avg_rush_touchdowns,avg_rush_yards_per_attempt,avg_time_of_possession,avg_times_sacked,avg_yards_lost_from_sacks,avg_extra_points_ratio,avg_field_goal_ratio,avg_fourth_down_ratio,avg_third_down_ratio
0,2,kan,sdg,1,0.000000,0.400000,2.000000,1.000000,2.000000,20.000000,-2.000000,14.800000,0.000000,1.000000,2.200000,130.000000,0.000000,0.000000,-0.166667,0.500000,1.000000,0.196429
1,2,cle,nyj,0,-1.000000,-9.800000,0.000000,-0.900000,0.000000,17.000000,-2.000000,-1.000000,1.000000,1.000000,0.700000,356.000000,-2.000000,-3.000000,1.000000,0.500000,-0.250000,0.301587
2,2,det,was,1,-1.000000,-9.100000,-2.000000,-1.800000,16.000000,7.000000,1.000000,-21.000000,-1.000000,3.000000,3.500000,-307.000000,0.000000,2.000000,0.000000,NaN,NaN,-0.057143
3,2,jax,clt,1,0.000000,-6.900000,0.000000,-0.500000,8.000000,2.000000,-1.000000,-8.600000,-0.500000,0.000000,2.100000,-790.000000,0.000000,3.000000,0.000000,0.083333,0.000000,-0.150000
4,2,nor,tam,0,-1.000000,0.900000,1.000000,0.000000,23.000000,8.000000,2.000000,22.100000,0.000000,1.000000,3.300000,-386.000000,2.000000,18.000000,0.000000,-0.133333,NaN,-0.049451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,20,buf,cin,0,0.235294,-6.458824,0.117647,0.205882,-1.294118,2.764706,-0.647059,-6.388235,0.058824,0.058824,1.452941,-119.000000,-0.470588,-6.352941,0.142770,0.041667,0.225000,0.028521
264,20,sfo,dal,1,-0.500000,0.450000,0.055556,0.905556,-3.111111,-0.388889,-0.555556,12.155556,0.055556,-0.222222,0.438889,122.500000,0.222222,1.000000,0.104809,-0.026843,-0.260606,-0.010686
265,21,phi,sfo,1,0.026316,-0.437427,-0.236842,-0.217251,3.078947,1.769006,-0.195906,-5.485965,0.043860,0.786550,-0.040936,-69.619883,0.710526,3.353801,0.007212,0.018627,0.366667,0.020731
266,21,kan,cin,1,0.000000,-1.555556,0.333333,0.688889,2.222222,3.000000,-0.388889,4.850000,0.055556,0.111111,0.822222,-91.277778,-1.277778,-6.666667,0.004630,-0.088235,0.488889,0.007973
267,22,phi,kan,0,-0.157895,-1.784211,-1.000000,-0.215789,-2.684211,0.000000,0.105263,-8.436842,0.000000,1.105263,0.073684,29.947368,0.894737,3.473684,0.125439,0.134259,0.001111,-0.019337

In [58]:
home_away_df.drop(['home_abbr', 'away_abbr'], axis=1, inplace=True)
home_away_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   week                        268 non-null    int64
 1   home_win                    268 non-null    int64
 2   interceptions_thrown        268 non-null    float64
 3   avg_pass_completion_rate    268 non-null    float64
 4   avg_pass_touchdowns         268 non-null    float64
 5   avg_pass_yards_per_attempt  268 non-null    float64
 6   avg_points_allowed          268 non-null    float64
 7   avg_points_scored           268 non-null    float64
 8   avg_punts                   268 non-null    float64
 9   avg_quarterback_rating      268 non-null    float64
 10  win_ratio                   268 non-null    float64
 11  avg_rush_touchdowns         268 non-null    float64
 12  avg_rush_yards_per_attempt  268 non-null    float64
 13  avg_time_of_possession      268 non-null    float64
 14  avg_times_sacked            268 non-null    float64
 15  avg_yards_lost_from_sacks   268 non-null    float64
 16  avg_extra_points_ratio      267 non-null    float64
 17  avg_field_goal_ratio        260 non-null    float64
 18  avg_fourth_down_ratio       257 non-null    float64
 19  avg_third_down_ratio        268 non-null    float64
dtypes: float64(18), int64(2)
memory usage: 42.0 KB

There were a few null values in cases where for a given week a team did not attempt a 4th down conversion/extra point/field goal, hence leading to a 0/0.

For now we will drop these columns in order quickly be able to test some basic models and confirm the dataframe is working as intended. In later workbooks these nulls will be addressed.

In [59]:
home_away_df.dropna(inplace=True)

In [60]:
#Running a log reg model

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#let's check a baseline model that only considers win ratio
x_base = np.array(home_away_df['win_ratio']).reshape(-1, 1)

y_base = home_away_df['home_win']

X_train_b, X_test_b, y_train_b, y_test_b = train_test_split(x_base,y_base, test_size=0.2, random_state=1)

my_logreg_model = LogisticRegression().fit(X_train_b, y_train_b)
print(f'Train score: {my_logreg_model.score(X_train_b,y_train_b)}')
print(f'Test score: {my_logreg_model.score(X_test_b,y_test_b)}')

Train score: 0.5621890547263682
Test score: 0.6470588235294118

In [61]:
#Now let's check how a basic log reg performs with all the variables

x = home_away_df.drop('home_win', axis=1)
y = home_away_df['home_win']

X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=1)

my_logreg_model = LogisticRegression(max_iter=500).fit(X_train, y_train)
print(f'Train score: {my_logreg_model.score(X_train,y_train)}')
print(f'Test score: {my_logreg_model.score(X_test,y_test)}')

Train score: 0.6965174129353234
Test score: 0.6274509803921569

In [62]:
#let's try another model that only looks at week 5 onwards in the season
home_away_df_5 = home_away_df[home_away_df['week'] >= 6]

x_5 = np.array(home_away_df_5['win_ratio']).reshape(-1, 1)

y_5 = home_away_df_5['home_win']

X_train_5, X_test_5, y_train_5, y_test_5 = train_test_split(x_5,y_5, test_size=0.2, random_state=1)

my_logreg_model = LogisticRegression().fit(X_train_5, y_train_5)
print(f'Train score: {my_logreg_model.score(X_train_5,y_train_5)}')
print(f'Test score: {my_logreg_model.score(X_test_5,y_test_5)}')

Train score: 0.6748466257668712
Test score: 0.43902439024390244

Based on these results it appears that the win ratio alone is a better indicator than all the variables and that week 5 onwards data is not good at predicting winners. This is okay for now because we were only seeking to make sure that these functions were working properly. In further notebooks we will include data from seasons dating back to 1970, explore other models as well as what features may need to be added or removed and hopefully achieve better results!